@model K22CNT2_PhanLacViet_2210900079_project2.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mat_khau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_khau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Tai_khoan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
